/*Keep the generic elements in the beginning*/

body {
	background-color: blue;
}

h1, h2, h3, h4, h5, h6 {
	font-family: cursive;
}

p {
	font-family: Arial;
}

p {
	font-family: cursive;
}

/*Organize your custom classes down below*/

div.foo {
	background-color: purple;
	padding: 36px;
	margin: 18px;
}

div#bar {

}